@model  IEnumerable<PurchaseTracker.Models.Purchase>

@{
    ViewBag.Title = "Index";
}

<h2>Purchases</h2>
<div class="col-lg-10">
    <p>@Html.ActionLink("Add a purchase", "Create")</p>
</div>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Amount)</th>
        <th>@Html.DisplayNameFor(model => model.Zipcode)</th>
    </tr>
    @foreach (var purchase in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(Item => purchase.Name)
            </td>
            <td>
                @Html.DisplayFor(Item => purchase.Amount)
            </td>
            <td>
                @Html.DisplayFor(Item => purchase.Zipcode)
            </td>
            <td>
            @Html.ActionLink("Edit", "Edit", new { id = purchase.PurchaseId })
            </td>
            <td>
            @Html.ActionLink("Detailed View", "ReadPurchase", new { id = purchase.PurchaseId })
            </td>
            <td>
            @Html.ActionLink("DESTROY", "Delete", new { id = purchase.PurchaseId })
            </td>
            </tr>
    }

</table>